<% var url = (tournament.get('image_url')) ? (tournament.get('image_url')) : 'assets/' + Math.floor(34*Math.random()) + '.jpg' %>

<div class="info">
  <div class="tournament-image" style="background-image: url(<%= url %>)">
    <div class="date-overlay">
      <%= new Date(tournament.get('start_date')).toDateString() %>
      <% if(tournament.get('end_date') !== tournament.get('start_date')){ %>
        - <%= new Date(tournament.get('end_date')).toDateString() %>
      <% } %>
    </div>
  </div>
  <div class="tournament-info">
    <div class="name">
      <%= tournament.escape('name') %>
    </div>
    <div class="venue">
      <%= tournament.escape('venue') %>
    </div>
  </div>
</div>
