<div class="info">
  <div class="tournament-image" style="background-image: url(assets/<%= Math.floor(7*Math.random()) %>.jpg)">
    <div class="date-overlay">
      <%= new Date(tournament.get('start_date')).toDateString() %>
      <% if(tournament.get('end_date') !== tournament.get('start_date')){ %>
        - <%= new Date(tournament.get('end_date')).toDateString() %>
      <% } %>
    </div>
  </div>
  <div class="tournament-info">
    <div class="name">
      <%= tournament.escape('name') %>
    </div>
    <div class="venue">
      <%= tournament.escape('venue') %>
    </div>
  </div>
</div>
