<% var url = (tournament.get('image_url')) ? (tournament.get('image_url')) : 'assets/' + Math.floor(34*Math.random()) + '.jpg' %>
<% var multiday = (tournament.escape('start_date') !== tournament.escape('end_date')) %>

<div class="info">
  <div class="tournament-image" style="background-image: url(<%= url %>)">
    <div class="date-overlay">
      <%= moment.utc(tournament.escape('start_date')).format("MMMM DD YYYY") %>
      <% if(multiday){ %>
        - <%= moment.utc(tournament.escape('end_date')).format("MMMM DD YYYY") %>
      <% } %>
    </div>
  </div>
  <div class="tournament-info">
    <div class="name">
      <%= tournament.escape('name') %>
    </div>
    <div class="venue">
      <%= tournament.escape('venue') %>
    </div>
  </div>
</div>
