<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label>First Name *
      <input type="text" name="user[fname]" class="form-control" value="<%= @user.fname %>">
    </label>
  </div>
  <div class="form-group">
    <label>Last Name *
      <input type="text" name="user[lname]" class="form-control" value="<%= @user.lname %>">
    </label>
  </div>
  <div class="form-group">
    <label>Email *
      <input type="text" name="user[email]" class="form-control" value="<%= @user.email %>">
    </label>
  </div>
  <div class="form-group">
    <label>Password *
      <input type="password" class="form-control" name="user[password]">
    </label>
  </div>
  <div class="form-group">
    <label>WCA ID
      <input type="text" name="user[wca_id]" class="form-control" value="<%= @user.wca_id %>">
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign Up</button>
</form>
<div>
Already have an account? <%= link_to 'Sign in here', new_session_url %>
</div>
