<div class="header-image" style="background-image: url(assets/<%= Math.floor(7*Math.random()) %>.jpg)">
</div>

<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-md-3">
          <div class="round">
            <a href="javascript:void(0)">
              <img src="http://lorempixel.com/150/150/sports/"/>
            </a>
          </div>
          Organizer: The Organizer
        </div>
        <div class="col-md-9">
          <div class="name">
            <%= tournament.escape('name') %>
          </div>
          <div class="venue">
            <%= tournament.escape('venue') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel" data-spy="affix" data-offset-top="470">
        <div class="panel-heading">
          Registration
        </div>
        <div class="panel-body">
          <div class="reg-form">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="dates">
        <%= new Date(tournament.escape('start_date')).toDateString() %>
        <% if(tournament.escape('start_date') < tournament.escape('end_date')){ %>
          - <%= new Date(tournament.escape('end_date')).toDateString() %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="location">
        <%= tournament.escape('location') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="static-map">
      </div>
    </div>
  </div>
</div>
