<div class="details">
  <h1><%= tournament.escape('name') %></h1>
  <ul>
    <li>
      Location: <%= tournament.escape('location') %>
    </li>
    <li>
      Venue: <%= tournament.escape('venue') %>
    </li>
    <li>
      Date: <%= tournament.escape('start_date') %>
      <% if(tournament.escape('start_date') < tournament.escape('end_date')){ %>
        - <%= tournament.escape('end_date') %>
      <% } %>
    </li>
  </ul>
</div>
<div class="static-map">
  lat: <%= tournament.get('lat') %><br>
  lng: <%= tournament.get('lng') %><br>
  <% latlon = tournament.get('lat') + ',' + tournament.get('lng') %>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= latlon %>&key=AIzaSyB8pqPpYhPhCttU1OnLJY_qcbFOpWagtZM&zoom=16&size=640x640&markers=color:red%7Clabel:C%7C<%= latlon %>"/>
</div>
