<div class="header-image" style="background-image: url(assets/<%= Math.floor(34*Math.random()) %>.jpg)">
</div>

<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-md-3">
          <div class="round">
            <a href="javascript:void(0)">
              <img src="http://lorempixel.com/150/150/sports/"/>
            </a>
          </div>
          <div class="caption">
            Organizer: The Organizer
          </div>
        </div>
        <div class="col-md-9">
          <div class="name">
            <%= tournament.escape('name') %>
          </div>
          <div class="venue">
            <%= tournament.escape('venue') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel" data-spy="affix" data-offset-top="470">
        <div class="panel-heading">
          <h3 class="panel-title">Registration Form:</h3>
        </div>
        <div class="panel-body">
          <div class="reg-form">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row details">
    <div class="col-md-8">
      <hr>
      <div class="row description">
        <div class="col-md-3">
          <div class="descriptor">
            Description
          </div>
        </div>
        <div class="col-md-9">
          <p>
            <%= tournament.escape('description') ? tournament.escape('description') : "This tournament does not have a description." %>
          </p>
        </div>
      </div>
      <hr>
      <div class="row dates">
        <% var multiday = (tournament.escape('start_date') < tournament.escape('end_date')) %>
        <div class="col-md-3">
          <div class="descriptor">
            Date<%= multiday ? 's' : '' %>
          </div>
        </div>
        <div class="col-md-9">
          <%= new Date(tournament.escape('start_date')).toDateString() %>
          <% if(multiday){ %>
            - <%= new Date(tournament.escape('end_date')).toDateString() %>
          <% } %>
        </div>
      </div>
      <hr>
      <div class="row events">
        <div class="col-md-3">
          <div class="descriptor">
            Events
          </div>
        </div>
        <div class="col-md-9 events-list">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="descriptor">
            Price
          </div>
        </div>
        <div class="col-md-9">
          <%= tournament.escape('price') ? '$' + tournament.escape('price') : '$0' %>
        </div>
      </div>
      <hr>
      <div class="row location">
        <div class="col-md-3">
          <div class="descriptor">
            Location
          </div>
        </div>
        <div class="col-md-9">
          <%= tournament.escape('location') %>
        </div>
      </div>
      <hr>
      <div class="row static-map">
      </div>
    </div>
  </div>
</div>
