<div class="form-inline">
  <label for="autocomplete">
    Location:
  </label>
  <input type="text" class="form-control" id="autocomplete" name="loc"
    value="<%= loc %>" placeholder="search by a location">
</div>
<div class="form-inline dates">
  <label>Date Range:</label>
  <input type="text" class="form-control date" name="start_date" value="<%= start_date %>">
  <input type="text" class="form-control date" name="end_date" value="<%= end_date %>">
</div>
<input type="hidden" name="lat" value="<%= lat %>">
<input type="hidden" name="lng" value="<%= lng %>">
