<!DOCTYPE html>
<% if Rails.env.production? %>
  <% api_key = '' %>
<% else %>
  <% api_key = 'key=AIzaSyB8pqPpYhPhCttU1OnLJY_qcbFOpWagtZM' %>
<% end %>
<html>
<head>
  <title>Where3x3</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&<%= api_key %>"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62589618-1', 'auto');
    ga('send', 'pageview');

  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>

<%= yield %>

</body>
</html>
