<!DOCTYPE html>
<html>
<head>
  <title>Where3x3</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<% flash.each do |name, messages| %>
  <ul>
    <div class="alert alert-<%= name %>">
      <% messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </div>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
